.card {
    transition: all 0.7s;
}

.card:hover {
    box-shadow: 0 .5rem 1.1rem 0.3rem rgba(0, 0, 0, .25) !important;
}
.pos-rel{
    position: relative;
}
.pos-ab{
    position: absolute;
    top: 0;
    left: auto;
    right: 50px;
    background-color: firebrick;
    color: white;
    padding: 7px 25px;
    border-radius: 26px;
}