/* Card Hover design  */
.card {
    transition: all 0.7s;
}
.card:hover {
    box-shadow: 0 .5rem 1.1rem 0.3rem rgba(0, 0, 0, .25) !important;
}
/* Brand style  */
.pos-rel {
    position: relative;
}

.pos-ab {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: firebrick;
    color: white;
    padding: 7px 25px;
    border-radius: 26px;
}
/* Details Button close  */
.details-close {
    position: absolute;
    top: 17px;
    right: 25px;
    width: 25px;
    cursor: pointer;
}
/* spinner  */
#spinner{
    display: none;
    width: 200px;
}

/* Show all Product   */
#show-all-product{
    display: none;
}